.wrauperr {
  font-family: sans-serif;
  background: url(../imeg/background1.png);
  background-size: cover;
}
.container {
  width: 1030px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 17px;
}

.header-logo {
  display: flex;
  align-items: center;
  position: relative;
}
.imag-logo2 {
  display: none;
}
.header-logo:hover .imag-logo2 {
  display: block;
  position: absolute;
  left: 0;
}

.page-title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header-logo:hover .page-title {
  color: #f26522;
}
.span-title {
  font-size: 29px;
  line-height: 29px;
}
.header-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.mail-header {
  margin-bottom: 19px;
  color: #ffffff;
}
.mail-header:hover {
  color: #f26522;
}
.tel-header {
  color: #ffffff;
}
.tel-header:hover {
  color: #f26522;
}
.price-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, auto));
  row-gap: 37px;
  column-gap: 61px;
  padding-left: 0;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.item-link {
  text-align: center;
  width: 100%;
  position: relative;
}
.img-item {
  width: 100%;
}
.item-text {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.item-link:hover .item-text {
  color: #f26522;
}
.hidden-block {
  height: 55px;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f26522;
  position: absolute;
  width: 100%;
  bottom: -14px;
  right: 0;

  transition: 1s;
}

.item-link:hover .hidden-block {
  display: flex;
  bottom: 38px;
}
.window-text::after {
  content: "";
  display: inline-block;
  background-image: url(../imeg/Vector1.svg);
  height: 10px;
  width: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 16px;
}

.price-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  margin-bottom: 12px;
  padding-left: 16px;
}

.akcent-text {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 8px;
}
.window-text {
  margin-bottom: 12px;
  padding-right: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.footer {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 15px;
  padding-top: 49px;
}
